# fly.toml app configuration file generated for eduhub-backend on 2023-12-04T11:49:33+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "eduhub-backend"
primary_region = "ams"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]


[[services.ports]]
    handlers = ["tls", "http"]
    port = "443"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
